/* !Global Styles */
* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #12111F;
  color: whitesmoke;
}

/* !Header Styles */


.header {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #12111F;
}

.items-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  height: 100%;
}

.dropdown-holder{
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.dropwdown-subrubros{
  display: none;
}

.title-header {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #5AC2E7;
}

.title-divider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}

.title-header a {
  margin: 1vw;
}

.header input {
  margin: 1vh;
  width: 50%;
}

/* !Typography */
h3 {
  font-size: 40px;
}

h5 {
  line-height: 100%;
  font-size: 4vh;
}

small {
  color: #FEFEFE;
}

/* !Form Styles */
.form-select {
  width: min-content;
  margin-top: 15px;
  line-height: 100%;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #171717;
}

form {
  background: #171717;
  height: 90%;
  width: 60%;
  padding: 2vh;
}

.input-holder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.row {
  margin-top: 2vh;
}

/* !Layout Styles */
.father {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background: #12111F;
}

.categorias {
  max-height: 80vh;
  width: 17%;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #12111F;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.categorias::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.father .categorias a {
  width: 100%;
  text-decoration: none;
  color: black;
}

.subrubros-title {
  width: 100%;
  font-size: 5vh;
  background: #555;
  padding: 1vh;
  line-height: 100%;
  text-align: center;
}

.list-group-item {
  margin-bottom: 5px;
  cursor: pointer;
}

ul {
  width: 100%;
}

li {
  margin: 1vh;
  list-style: none;
}

/* !Table Styles */
.contenido {
  height: 100%;
  width: 100%;
  background: #171717;
  color: #FEFEFE;
  border-collapse: collapse;
}

.table-holder {
  height: 80vh;
  width: 78.5%;
  padding: 1vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.table-holder::-webkit-scrollbar {
  width: 0;
  height: 0;
}

th, td {
  border: 1px solid lightgray;
  padding: 10px;
  text-align: center;
  line-height: 20px;
}


@media (max-width: 2500px){
  .subrubros-title{
    font-size: 2vh;
  }
}
/* Responsive Styles */
@media (max-width: 1200px) {

  .father{
    width: 100%;
  }

  .categorias{
    width: 25%;
  }
  
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 35vh;
  }
  .items-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .dropdown-holder{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  .items-header {
    width: 100%;
  }

  .form-control{
    width: 100px;
  }

  .header input {
    width: 60%;
  }

  .table-holder {
    width: 75%;
  }


  /*
  .items-header,input{
    position: absolute;
  }
  */
}

@media (max-width: 992px) {

  .dropwdown-subrubros{
    display: block;
  }
  .dropdown-holder{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .categorias{
    display: none;
  }

  .header input {
    width: 80%;
  }

  .table-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    width: 98.9%;
  }
}

@media (max-width: 768px) {

  .categorias {
    display: none;
  }

  .header input {
    width: 90%;
  }

  .table-holder {
    width: 100%;
  }

  .categorias {
    width: 100%;
    flex-direction: row;
    overflow-x: auto;
  }
}

@media (max-width: 600px) {
  .header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .items-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .dropdown-holder{
    margin-left: 3vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .form-control{
    height: 5vh;
    margin-left: 3vw;
  }
  .title-header {
    font-size: 2vh;
  }

  .subrubros-title {
    font-size: 4vh;
  }

  .categorias {
    flex-direction: column;
    width: 100%;
  }
}
