* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #12111F;
  color: whitesmoke;
}

.header {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #12111F;
}

.form-select{
  width: min-content;
  margin-top: 15px;
  line-height: 100%;
}

.items-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  height: 100%;
}

.title-header {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #5AC2E7;
}


.title-divider{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}

h3{ font-size: 40px; }
small{ color:#FEFEFE; }
.title-header a { margin: 1vw; }

.header input {
  margin: 1vh;
  width: 50%;
}

.father {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background: #12111F;
}


.father .categorias a{
  width: 100%;
  text-decoration: none;
  color: black;
}

.header-subrubros{
  width: 100%;
  height: 100%;
  font-size: 4vh;
  text-align: center;
  color: #FEFEFE;
  background-color: #595C5F;

}

.categorias {
  max-height: 80vh; /* Altura fija para el contenedor de la lista */
  width: 17%;
  overflow-y: auto; /* Permitir desplazamiento vertical */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #12111F;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.categorias::-webkit-scrollbar {
  width: 0;
  height: 0;
}



.list-group-item {
  margin-bottom: 5px; /* Espacio entre los elementos de la lista */
  cursor: pointer; /* Cambiar el cursor al pasar sobre los elementos */
}



ul { width: 100%; }
li { 
  margin: 1vh;
  list-style: none;
}

.contenido {
  height: 100%;
  width: 100%;
  background:#171717;
  color: #FEFEFE;
  border-collapse: collapse;
}

.pupito{
  height: 80vh;
  width: 78.5%;
  padding: 1vh;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.pupito::-webkit-scrollbar {
  width: 0;
  height: 0;
}


th,td {
  border: 1px solid #555;
  padding: 10px;
  text-align: center;
  line-height: 20px;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #171717;
  
}

.input-holder{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

form{
  background: #171717;
  height: 90%;
  width: 60%;
  padding: 2vh;
}
.row{
  margin-top: 2vh;
}
